.docs {
    width: calc(50% - 30px);
    height: 75px;
    float: left;
    padding-bottom: 8px;
    margin-bottom: 28px;
    margin-left: 30px;    
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 50px 25px;
    grid-template-areas: 
    "img 1line"
    "img 2line";    


  }

  .docs_img {
    grid-area: img;
    width: 75px;
    height: 75px;
  }

  .docs_1line {
    grid-area: 1line;
    width: 100%;
    text-indent: 0;
    font-family: exo_2regular_condensed;
    color: var(--textdark);
    text-align: justify;
    margin-left: 5px;
    line-height: 25px;
    
    overflow: hidden; 
    text-overflow: ellipsis; 
    
    color: var(--linkblue);
    }

    .docs_1line:hover {
      text-decoration: underline;
    }

    .docs_2line {
      grid-area: 2line;
      text-indent: 0;
      font-family: exo_2regular_condensed;
      color: var(--textdark);
      text-align: justify;
      margin-left: 5px;
      line-height: 25px;
      overflow-y: hidden;
      text-overflow: ellipsis; 
      color: var(--textgray);

      white-space: nowrap;
      overflow: hidden; 
      text-overflow: ellipsis; 

      }





 

   


    
    
    

    @media screen and (orientation: portrait) {  
      .docs {
        width: calc(100% - 15px);
        padding-bottom: 8px;
        margin-left: 5px; 
        margin-bottom: 18px;

      }




    }

 