.massage_block {

  background-color: var(--deepblue);
  padding: 30px;

}

.header {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: var(--textlight);
  font-family: bebas_neue_regularregular;
  font-size:2em;



}




