.athletlist_block {
  width: 100%;
  height: 160px;

  margin: 0px 2px 10px 5px;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
  "img name"
  "img etc";
}

.athletlist_block__img {
  grid-area: img;
  width: 160px;
  background-color: var(--lightblue);
  border-radius: 80px;

  -webkit-filter: drop-shadow(3px 5px 5px #434546);
  filter: drop-shadow(3px 5px 5px #434546);
}

.athletlist_block__name {
  grid-area: name;

  line-height: 50px;
  font-size: 20px;
  text-align: left;
  text-indent: 15px;
}

.athletlist_block__etc {
  grid-area: etc;
  text-indent: 0px;


}