.news {
    width: 90%;
    height: 160px;
    border-bottom-style: inset;
    border-bottom-color: #dceffd;
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas: 
    "img header"
    "img p";
  }

  .news_img {
    grid-area: img;
    width: 160px;
    height: 160px;
    position: absolute;
  }

  .news_header {
    grid-area: header;
    text-align: left;
    font-family: bebas_neuelight;
    font-size: 28px;    
    color: var(--textdark);
    padding-left: 25px;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .news_p {
    grid-area: p;
    margin-left: 5px;
    overflow-y: hidden;

    }

    .news_logo {
      width: 320px;
      height: 240px;
      position: relative;
      float: right;
      margin: 5px;
    }
    
    
    

    @media screen and (orientation: portrait) {  
      .news {
        width: 100%;
        min-height: 340px;
        border-bottom-style: inset;
        border-bottom-color: #dceffd;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 10px 100px;
        grid-template-areas: 
        "img"
        "header"
        "p";
      }

      .news_img {
        grid-area: img;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 200px;
        
      }

      .news_header {
        grid-area: header;
        height: 40px;
        font-family: bebas_neuelight;
        font-size: 28px;   
        color: var(--textdark);
      }
      
      .news_p {
        grid-area: p;
        overflow-y: hidden;
        height: 100px;
        padding: 0;
        margin: 0;
        }

        .news_logo {
          width: 100%;
          position: relative;
        }

    }

 