.all {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;

  overflow: hidden;

}

.articles2 {


  width: 360px;
  height: 380px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  
  display: grid;
  grid-template-columns: 360px;
  grid-template-rows: 240px 60px 80px;
  grid-template-areas: 
  "img2"
  "header2"
  "p2";
}

.articles_img2 {
  grid-area: img2;
  width: 360px;
  height: 240px;
  position: relative;

  margin: 0px;
  padding: 0px;


}
.blog_image {
  object-fit: cover;

}
.articles_header2 {
  
  grid-area: header2;
  line-height: 30px;
  text-align: center;
  margin: 0px;
  padding: 0px;




}
.articles_p2 {

  grid-area: p2;
  margin-left: 5px;
  overflow-y: hidden;
  text-indent: 0px;




  height: 80px;
      line-height: 20px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin: 0;


  }





    .articles_logo {
      width: 321px;
      height: 214px;
      position: relative;
      float: right;
      margin: 5px;
    }

    

  
    
    

    @media screen and (orientation: portrait) {  
    
      .articles2 {
        width: 100%;
        height: calc(100vw * 0.66 + 140px);

        margin-bottom: 8px;
        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 60px 80px;
        grid-template-areas: 
        "img2"
        "header2"
        "p2";
      }

      .articles_img2 {
        width: 100%;
        height: calc(100vw * 0.66);
      }

        .articles_logo {
          width: 100%;
          height: calc(100vw * 0.666);
        }

    }

 