.mobile_footer {
    display: none;
}

.home {
    background-image: url("../../../src/icons/ic_home_blank.svg");
    width: 30px;
    height: 30px;
}
.home_pressed {
    width: 30px;
    height: 30px;
    background-image: url("../../../src/icons/ic_home_filled.svg");

}
.bookmark {
    background-image: url("../../../src/icons/ic_bookmark_blank.svg");
    width: 30px;
    height: 30px;
}
.bookmark_pressed {
    width: 30px;
    height: 30px;
    background-image: url("../../../src/icons/ic_bookmark_filled.svg");
}

.menu {
    background-image: url("../../../src/icons/ic_menu_blank.svg");
    width: 30px;
    height: 30px;
}
.menu:hover {
    width: 30px;
    height: 30px;
    background-image: url("../../../src/icons/ic_menu_filled.svg");
}

.search {
    background-image: url("../../../src/icons/ic_search_blank.svg");
    width: 30px;
    height: 30px;
}
.search_pressed {
    width: 30px;
    height: 30px;
    background-image: url("../../../src/icons/ic_search_filled.svg");
}

.settings {
    background-image: url("../../../src/icons/ic_settings_blank.svg");
    width: 30px;
    height: 30px;
}
.settings_pressed {
    width: 30px;
    height: 30px;
    background-image: url("../../../src/icons/ic_settings_filled.svg");
}




@media screen and (orientation: portrait) {  
    .mobile_footer {
        grid-area: mobile_footer;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: var(--deepblue);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 13px;
        padding-bottom: 13px;
    }
   
    .hidden_menu {
        position: absolute;
        top: 0px;
        left: -70%;
    }

    .visible_menu {
        position: absolute;
        top: 0px;
        left: 0%;
    }

 


    /* .menu:hover .hidden_menu {
        position: fixed;
        left: 0%;
        transition: all 0.5s ease-out;
    }

    .menu:active .hidden_menu {
        position: fixed;
        left: -70%;
        transition: all 0.5s ease-out;
    } */

  





    .left_side {
        background-color: var(--deepblue);
        color: var(--textlight);
        height: calc(100vh - 56px);
        width: calc(100vw * 0.7);
        opacity: 0.97;
        z-index: 8;
    }


    
    .left_side p {
        color: var(--textlight);
      }
      
    .left_item {
        line-height: 48px;
        font-family: bebas_neuelight;
        font-size: 26px;
        text-align: left;
        cursor: pointer;
        padding-left: 20px;
    }
    
    .left_item_second_level {
        font-family: exo_2regular_condensed;
        text-align: left;
        cursor: pointer;
        padding: 0px 15px 0px 15px;

    }
    
    .left_item:hover {
        
        text-shadow: #000 3px 3px 5px;
        transform: scale(1.05);
        transition: all 0.3s ease;
        padding-left: 25px;
    
    
    }
    
    .left_item2 {
        line-height: 48px;
        font-family: bebas_neuelight;
        font-size: 26px;
        text-align: left;
        cursor: pointer;
        text-shadow: #000 3px 3px 5px;
        padding-left: 20px;
    
        
    }
    
    .invisible {
        display: none;
    }


    
    .display {
        display: inline;
    }



        
 


  }