.logo {
    grid-area: logo;
    background-image: url(/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--deepblue);
    cursor: pointer;
}