.logo {
    grid-area: logo;
    height: 116px;
    background-color: var(--deepblue);
    position: relative;
    cursor: pointer;
}

@media screen and (orientation: portrait) {  
    .logo {
        height: 180px;

    }

}